input, textarea {
  box-sizing: border-box;
}
.create__story {
  display: flex;
  flex-direction: column;
  padding-top: 33px;
}
.create__story label {
  font-family: Roboto Condensed;
  font-style: italic;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #000;
}
.create__story div > * {
  display: block;
  width: 100%;
  padding: 0;
  border: 0;
}
.create__story__title label {
  margin-bottom: 9px;
}
.create__story__title input, .create__story__tags input {
  height: 48px;
  border: 1px solid #000000;
  background: #fffbfb;
}
.create__story__text {
  margin-top: 16px;
}
.create__story__text textarea {
  margin-top: 16px;
  height: 231px;
  background: #fffbfb;
  border: 1px solid #000;
}
.create__story__tags {
  margin-top: 33px;
}
.create__story__tags input {
  margin-top: 9px;
}
.create__story button {
  margin-top: 29px;
  width: 95px;
  height: 33px;
  align-self: flex-end;
  color: #fff;
  background: #007F81;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  border: 0;
}